Django>=3.2
django-bootstrap4-form==4.0.1
celery
email-reply-parser
akismet
markdown
html2text
lxml
pytz
pinax_teams
djangorestframework
django-model-utils
django-cleanup
oauthlib
requests_oauthlib
requests
